.form{
    min-height: 400px;
}

.formulario{
    min-width: 300px;
    max-width: 600px;
}

.btn-primary{
    background-color: #1961e5 !important;
}

.btn-primary:hover{
    background-color: #397CF6 !important;
    border-color: #397CF6 !important;
}