.information{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.information-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}