.information{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 0px !important;
}

.information-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 450px) {
    .information{
        text-align: center;
    }
    .benefits{
        text-align: center;
    }
    .benefits ul{
        list-style-position: inside;
    }
}