.profile-container{
    border-color: #fff0 !important;
    border-radius: 10px !important;
}

.left-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil{
    border-color: #fff0 !important;
    border-radius: 10px !important;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.contactos{
    border-color: #fff0 !important;
    border-radius: 10px !important;
}

.info{
    border-color: #fff0 !important;
    border-radius: 10px !important;
}

.skills{
    border-color: #fff0 !important;
    border-radius: 10px !important;
}

.social-media .list-group-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-media .list-group-item a{
    color: rgb(84, 84, 84);
    text-decoration: none;
}

.info{
    border-color: #fff0 !important;
    border-radius: 10px !important;
}

.denied{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}