.card-body .row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#justify-tab-example-tabpane-home .card{
    border-radius: 0px !important;
}

.upload{
    position:absolute;
    top: 50px;
    z-index: 2;
    transition: transform .4s;
}
.upload:hover {
    transform: scale(1.1); 
    cursor: pointer;/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.userphoto {
    border: 6px solid rgb(255, 255, 255);
    border-radius: 100px 100px;
    filter: brightness(50%);
    height: 190px;
}

.left-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil{
    border-color: #fff0 !important;
    border-radius: 10px !important;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.contactos{
    border-color: #fff0 !important;
    border-radius: 10px !important;
}

.info{
    border-color: #fff0 !important;
    border-radius: 10px !important;
}

.skills{
    border-color: #fff0 !important;
    border-radius: 10px !important;
}

.social-media .list-group-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-media .list-group-item a{
    color: rgb(84, 84, 84);
    text-decoration: none;
}

.info{
    border-color: #fff0 !important;
    border-radius: 10px !important;
}

.denied{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects {
    height:50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.nav-tabs{
    background-color: #F8F9FA;
    border: 1px solid #00000027;
}

.tab-content{
    border: 1px solid #00000027;
}
