.modal-backdrop{
    background-color: rgba(0, 0, 0, 0.351) !important;
}

.modal-content {
    color: aliceblue;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #202A34 !important;
    background-clip: padding-box;
    border: 1px solidrgba(0,0,0,.2);
    border-radius: 15px !important;
    outline: 0;
}